<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>s
		body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #ddd;

}

.box{
	width:  50%;
	height: 50%;
	text-align: center;
}
	</style>
		
	<title>
		About us typing tour
	</title>
</head>
	<body>
		<div class="backimg">
		</div>
		<h1 style="color: black; text-align: center; font-size: 30; font-family: all;"> ABOUT US</h1>
		<img src="/static/photo3.jpg" height="50%" width="40%" align="right">
			<h2  style="   font-size: 24;">(1). <b> Introduction </b></h2>
			<p style= " ; font-size: 18;">We aim to create a typing tour webapp which has user authentication features.<br> it has courses with different difficulty levels which will help the user to learn and test<br> their typing skills.<br> 
			the test has a real time sync system, i.e. as soon as the user starts typing something,<br> 
			the system will be analysing it in real time<br> and once the test ends, the user will receive a score based on<br> 
			their performance along with the complete statistical data which can be exported if the user wishes so.<br>

		</p>
		<h2 style="font-size: 24">(2). <b>Structure</b></h2>
		<p2 style="font-size: 18">
			The architecture or the framework of the webapp can be explained in terms of frontend and backend.<br> 
			the interaction between user, frontend and the backend is what the architecture of this webapp is based on.<br> 
			the user interacts with the frontend which displays the several pages like homepage, login page, about us page, etc.<br> 
			the frontend is designed using html,css and javascript languages. On the other hand,<br> 
			the backend handles tasks like calculation, database management and rendering webpages.<br> 
			the framework of the backend is based on Django.<br>
			
		</p2>
		<h3 style="font-size: 24">(3). <b>Our Motive</b></h3>
		<p3 style="font-size: 18 ">
			To teach people how to type in a professional manner with help of techniques like 10 finger<br>
			typing enabling them to achive productivity.<br>
			this webapp will act as a education tool for all people who work with<br>
            electronic devices and require typing as a skillset.The uses of this webapp are:<br> 
            a typing test for interviews, home schooling, competitive typing test,etc.<br>
             
		</p3>
		<h4 style="font-size: 24">(4). <b>Other Updates</b> </h4>
		<p4  style="font-size: 18 " >
			We like to improvise the tests part of our webapp even more to make the results more accurate and helpful.<br> 
			We also plan to commercialize this app by providing promo codes and offers as a<br> 
			reward for achieving a certain score in the typing tests<br>
		</p4>
		<br><br><br><br><br>
	
<br><br><br><br>

		
		
		<br><br><br><br>
		
        

	</body>




</html>